parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - */static/*
    ignoreErrors:
        -   identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: false
